.project {
    margin-bottom: 50px;
}

.project-header h1 {
    text-align: left;
    font-weight: 400;
    font-size: 3rem;
    margin: 0 0 10px 0;
}

.project-header {
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

.project-cards {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
}

.more {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

@media screen and (max-width: 768px) {
    /* On small screens, we want the project title to be on its own line */
}