.basic-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}  

.basic-card img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    filter: grayscale();
    transition: filter 0.3s ease-in-out;
}

.basic-card img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.basic-card div {
    padding: 20px;
}

.basic-card .content {
    display: flex;
    flex-direction: column;
    margin: .5rem 0 3rem 0;
    padding: 0;
}

.basic-card h2 {
    text-align: left;
    margin: 0;
    font-size: 18px;
    color: #333;
}

.basic-card p {
    text-align: left;
    margin: 0;
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 768px) {
    /* .basic-card {
        margin: 0px;
    }

    .basic-card .content {
        margin: 0;
        padding: 0;
    } */
}